[Unit]
Description=Timer para executar backup a cada 5 dias

[Timer]
OnBootSec=5min
OnUnitActiveSec=5d
Persistent=true

[Install]
WantedBy=timers.target

# para instalar:
# systemctl --user daemon-reload
# systemctl --user start backup.timer
# systemctl --user enable backup.timer
