$color-pink: #cf5f87;
$color-blue: #62adff;

@import 'widgets/battery/battery.scss';
@import 'widgets/volume/volume.scss';
@import 'widgets/time/time.scss';
@import 'widgets/date/date.scss';
@import 'widgets/workspaces/workspaces.scss';

* {
  all: unset; 
  font-family: 'Hack Nerd Font';
}

.bar-container {
  $margin: 6px 0;

  border-bottom: dotted 1px rgba(255, 255, 255, 0.4);

  &__start {
    margin: $margin;
  }

  &__center {
    margin: $margin;
  }

  &__end {
    margin: $margin;
  }
}

tooltip {
  font-family: 'bios';
  padding: 0 10px;
  font-size: 10px;
  border: solid 1px gray;
  background: #222;
  opacity: 0.8;
  transition: 0.3s all;
}
