$color-pink: #cf5f87;
$color-blue: #62adff;

@import 'widgets/battery/battery.scss';
@import 'widgets/volume/volume.scss';
@import 'widgets/time/time.scss';
@import 'widgets/date/date.scss';

* {
  all: unset; 
}

.bar-container {
  border-bottom: dotted 1px rgba(255, 255, 255, 0.4);
  padding: 10px 0;

  // &__start {
  // }

  // &__center {
  // }

  // &__end {
  // }
}

tooltip {
  font-family: 'bios';
  padding: 0 10px;
  font-size: 10px;
  border: solid 1px gray;
  background: #222;
  opacity: 0.8;
  transition: 0.3s all;
}
