.battery {
  transition: 0.3s color;
  padding: 0 12px 0;

  &--low {
    color: #e63946;
  }

  &--moderate {
    color: #e9c46a;
  }

  &--full {
    color: #FFF;
  }

  &-icon {
    font-size: 1.2rem;
  }
}
